<a href="https://colab.research.google.com/github/dmppsg/TimeSeriesAnalysis1/blob/main/music.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib

import numpy as np

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving music.csv to music.csv

In [ ]:
import io
df=pd.read_csv(io.BytesIO(uploaded['music.csv']))
X=df.drop(columns=['genre'])
y=df['genre']
df

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [ ]:
model=DecisionTreeClassifier()
model.fit(X,y)
predictions= model.predict([[21,1],[22,0]])
predictions

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array(['HipHop', 'Dance'], dtype=object)

In [ ]:
X_train,X_test,y_train, y_test = train_test_split(X,y,test_size=0.3)
model=DecisionTreeClassifier()
model.fit(X_train,y_train)
predictions=model.predict(X_test)
#predictions
score= accuracy_score(y_test,predictions)
score

0.8333333333333334

In [ ]:
# Code to store trained model


music_data=pd.read_csv(io.BytesIO(uploaded['music.csv']))
X1=music_data.drop(columns=['genre'])
y1=music_data['genre']
model=DecisionTreeClassifier()
model.fit(X1,y1)
joblib.dump(model,'music-recommender.joblib')

['music-recommender.joblib']

In [ ]:
# to load the saved model
model= joblib.load('music-recommender.joblib')
predictions=model.predict([[22,0]])
predictions

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array(['Dance'], dtype=object)

In [ ]:
#Visualising datasets
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
music_data=pd.read_csv(io.BytesIO(uploaded['music.csv']))
X1=music_data.drop(columns=['genre'])
y1=music_data['genre']
model=DecisionTreeClassifier()
model.fit(X1,y1)
tree.export_graphviz(model,out_file='music-recommender.dot', feature_names=['age','gender'],class_names=sorted(y1.unique()),label='all', rounded=True, filled = True)